<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/images/Logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <title> Verisoft </title>
  <style>@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");</style>
</head>
<body>

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar js-sticky-header site-navbar-target" role="banner" style="background-color: #ddb7ac;">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="site-logo">
          <a href="index.html"><span class="text-white"><img src="assets/images/logito.png" alt="" width="50" height="50" class="d-inline-block align-text-top">Verisoft</span></a>
        </div>
        <div class="col-12">
          <nav class="site-navigation text-right ml-auto" role="navigation">
            <ul class="text-white site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="#nosotros-section" class="nav-link">Nosotros</a></li>
              <li><a href="#caracteristicas-section" class="nav-link">Características</a></li>
              <li><a href="#servicios-section" class="nav-link">Servicios</a></li>
              <li><a href="#criticas-section" class="nav-link">Críticas</a></li>
              <li><a href="#contactanos-section" class="nav-link">Contáctanos</a></li>
              <li><button mat-raised-button color="#f0d9d1" routerLink="/login">Login</button></li> 
             
            </ul>
          </nav>
        </div>
        <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  </header>

  <!-- Sección Nosotros -->
  <section id="nosotros-section" style="padding: 13%; background: linear-gradient(to bottom,#f0d9d1, #dda490)">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col col-lg-5 col-md-12 col-12">
          <h1 class="display-3 mt-5" style="color: #000000">NOSOTROS</h1>
          <h1 class="display-6 mt-5" style="color: #000000; font-size:26px;">
            Nuestra empresa se dedica a ayudar a las mujeres a poder detectar a tiempo el cáncer de mama.
          </h1>
          <div class="row mt-5">
            <div class="col-lg-6 col-12">
              <a target="_blank" href="https://www.figma.com/design/yapmXSCI40B2Smy3FNOeVl/Untitled?node-id=0-1&t=qhQlL0mawx9Kfg6M-0">
                <img src="assets/images/DESCARGAR APPLE.png" width="190" height="75">
              </a>
            </div>
            <div class="col-lg-6 col-12">
              <a target="_blank" href="https://www.figma.com/design/yapmXSCI40B2Smy3FNOeVl/Untitled?node-id=0-1&t=qhQlL0mawx9Kfg6M-0">
                <img class="mt-5 mt-lg-0" src="assets/images/DESCARGAR GOOGLE.png" width="190" height="75">
              </a>
            </div>
          </div>
        </div>
        <div class="col col-lg-6 col-12 mt-5 offset-lg-1">
          <img src="assets/images/aaaaaa.png" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </section>

 <!-- Sección Características -->
<section id="caracteristicas-section" style="padding: 12%">
  <div class="container">
    <h1 class="display-4 mt-5" style="color:black; font-size: 40px; font-weight: bold; text-align: center;">
      Por estos motivos deberian descargar la app
    </h1>
    <div class="row text-center justify-content-center">
      <div class="col col-lg-1 col-0"></div>
      <div class="col col-lg-6 col-12">
        <h1 class="display-4 mt-5" style="color:black; font-size: 30px; font-weight: bold"></h1>
        <div class="row pt-5 mb-5 d-flex justify-content-between">
          <div class="col col-lg-4 col-12 mt-lg-0 mt-3">
            <div class="card shadow-lg">
              <div class="card-body bg-light" style="font-size: 13px;">
                <img src="assets/images/Ahorro.png" height="100" width="100">
                <div class="mb-1"></div>
                <p style="color:black; font-size: 20px; font-weight: bold">Ahorro</p>
                <p class="card-title" style="color:black; font-size: 18px;">
                  Citas online, sin tener que ir a una clinica!!
                </p>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-12 mt-lg-0 mt-3">
            <div class="card shadow-lg">
              <div class="card-body bg-light" style="font-size: 13px;">
                <img src="assets/images/localizacion.png" height="100" width="100">
                <div class="mb-1"></div>
                <p style="color:black; font-size: 20px; font-weight: bold">Cerca</p>
                <p class="card-title" style="color:black; font-size: 18px;">
                  Se priorizarán los oncólogos en tu zona más cercana.
                </p>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-12 mt-lg-0 mt-3">
            <div class="card shadow-lg">
              <div class="card-body bg-light" style="font-size: 13px;">
                <img src="assets/images/tendencias.png" height="100" width="100">
                <div class="mb-1"></div>
                <p style="color:black; font-size: 20px; font-weight: bold">Tendencias</p>
                <p class="card-title" style="color:black; font-size: 18px;">
                  Información sobre los oncólogos más prestigiosos de tu zona.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fila para las imágenes pequeñas -->
  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <img src="assets/images/seguro1.png" class="img-fluid" style="max-height: 50px;">
    </div>
    <div class="col-auto">
      <img src="assets/images/seguro2.png" class="img-fluid" style="max-height: 50px;">
    </div>
    <div class="col-auto">
      <img src="assets/images/seguro5.png" class="img-fluid" style="max-height: 50px;">
    </div>
    <div style="padding: 2%;"></div>
  </div>
</section>

  <!-- Sección Servicios -->
  <section id="servicios-section" style="padding: 5%; background: linear-gradient(to right,#f0d9d1, #dda490)">
    <div class="container px-4">
      <h1 class="display-3 text-center" style="color:black; font-size: 30px; font-weight: bold">Servicios</h1>
      <div class="container">
        <div class="row text-center mt-5 mb-5">
          <div class="col">
            <img src="assets/images/Servicios.png" height="300" width="300">
            <h1 class="mt-5 mb-5" style="color:#000000;">Servicio de paciente a Oncólogos</h1>
            <h5 style="color:black; font-size: 24px;">
              Podrás encontrar a diversos oncólogos<br><br>
              con una amplia experiencia en el cáncer de mama <br><br>
              con nuestro extenso catálogo cerca a tu ubicación<br><br>
              y de diferentes especialidades te sentirás más segura!
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección Críticas -->
  <div style="padding: 1%" id="criticas-section"></div>
  <section >
    <div class="m-5 pt-5"></div>
    <div class="container px-4">
      <h1 class="display-3 text-center" style="color: #2b5f74">Experiencias</h1>
      <div class="container">
        <div class="row text-center mt-5 mb-5">
          <div class="col pr-lg-5 mb-lg-0 mb-5">
            <img src="assets/images/Critica1.png" height="300" width="300"class="mb-5">
            <h4 style="color:#2b5f74"class="mb-5">Miriam Canguala</h4>
            <h5 style="font-size: 22px"> Verisoft me ha ayudado a tener mas conciencia con el cancer por eso he detectdo mi cancer a tiempo. ¡Le tengo que dar gracias a la app!”</h5>
          </div>
          <div class="col mb-lg-0 mb-5">
            <img src="assets/images/critica2.png" height="300" width="300"class="mb-5">
            <h4 style="color:#2b5f74"class="mb-5">Mariana Garcia</h4>
            <h5 style="font-size: 22px">“Gracias a Verisoft he podido encontrar un oncólogo a un precio muy accesible y muy bueno”</h5>
          </div>
          <div class="col pl-lg-5">
            <img src="assets/images/critica3.png" height="300" width="300" class="mb-5">
            <h4 style="color:#2b5f74"class="mb-5">Gianella Guerra</h4>
            <h5 style="font-size: 22px">“Gracias a la aplicación puedo saber cada cuanto tiempo debo irme hacer un chequeo sin tener que salir de casa!!”</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Sección Contactanos -->
  <div id="contactanos-section" style="padding: 2%;"></div>
  <section >
    <div class="m-5 pt-5"></div>
    <div class="container px-4">
      <h1 class="display-4 text-center mb-5" style="color: #000000">CONTÁCTANOS</h1>
      <form class="row g-3 needs-validation pt-4" novalidate>
        <div class="col-md-6">
          <div class="mb-4">
            <label for="validationCustom01" class="form-label" style="color:#000000; font-size: 26px">NOMBRE:</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Ingresar nombre" required>
          </div>
          <div class="mb-4">
            <label for="validationCustom02" class="form-label" style="color:#000000; font-size: 26px">APELLIDO:</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Ingresar apellido" required>
          </div>
          <div class="mb-4">
            <label for="validationCustomcorreo" class="form-label" style="color:#000000; font-size: 26px">CORREO ELECTRONICO:</label>
            <input type="text" class="form-control" id="validationCustomcorreo" placeholder="Ingresar correo" aria-describedby="inputGroupPrepend" required>
          </div>
          <div >
            <label for="validationCustom04" class="form-label" style="color:#000000; font-size: 26px">TELEFONO:</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="Ingresar numero" required>
          </div>
        </div>
        <div class="col-md-6">
            <div class="mb-5">
              <label for="exampleFormControlTextarea1" class="form-label" style="color:#000000; font-size: 26px">CUÉNTENOS:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
            <div class="text-center">
              <a class="" href="index.html" style="color:#000000 ">ENVIAR</a>
            </div>
        </div>

      </form>
    </div>
  </section>
  <div class="m-5 p-5"></div>
<!-- Sección footer -->
  <!-- Footer -->
  <footer class=" text-center text-white"Style="background-color: #999b85">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-floating m-1" target="_blank" href="" role="button"><img src="assets/images/facebook.png" width="40"height="40"> </a>

        <!-- Instagram -->
        <a class="btn btn-floating m-1" target="_blank" href="" role="button"><img src="assets/images/instagram.png"width="40"height="40"></a>

        <!-- Twitter -->
        <a class="btn btn-floating m-1" target="_blank" href="" role="button"><img src="assets/images/gorjeo.png"width="40"height="40"></a>

        <!-- Github -->
        <a class="btn btn-floating m-1" target="_blank" href="https://github.com/1Iluu" role="button"><img src="assets/images/github.png"width="40"height="40"></a>

      </section>
      <!-- Section: Social media -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Navegación</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#nosotros-section" class="text-white">Nosotros</a>
              </li>
              <li>
                <a href="#caracteristicas-section" class="text-white">Características</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">+</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#servicios-section" class="text-white">servicios</a>
              </li>
              <li>
                <a href="#criticas-section" class="text-white">criticas</a>
              </li>
              <li>
                <a href="#contactanos-section" class="text-white">Contactanos</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="#">Verisoft</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>

