<div class="container" style="text-align: center">
  <h2>Registro de Herramientas</h2>
  <form [formGroup]="form" (submit)="guardar()" class="example-form">   
    <mat-form-field class="example-full-width" *ngIf="edicion" >
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="codigo" readonly/>
      <mat-error *ngIf="form.get('codigo')?.hasError('required')"
    >El codigo no se modifica.</mat-error
  >
</mat-form-field>
<br />
<mat-form-field class="example-full-width">
      <mat-label>Oncologo asignado</mat-label>
      <mat-select formControlName="oncologo">
        <mat-option *ngFor="let c of listaoncologos" [value]="c.oncologo_id">
          {{ c.oncologo_id }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('oncologo')?.hasError('required')"
        >Se debe asignar un oncólogo.</mat-error
      >
    </mat-form-field>
      <br />      
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Herramienta</mat-label>
      <mat-select formControlName="nombreHerramienta">
      <mat-option *ngFor="let g of listaHerramientas" [value]="g.value">
        {{g.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('nombreHerramienta')?.hasError('required')"
    >El tipo de herramienta es obligatorio.</mat-error
  >
  </mat-form-field>

<br />     
<button mat-raised-button class="custom-button">Guardar</button> 
<button mat-raised-button class="custom-button" routerLink="/herramientas">
  Cancelar</button>
    <p>{{ mensaje }}</p>
  </form>
</div>