<div class="container" style="text-align: center">
  <h2>Registro de Herramientas</h2>
  <form [formGroup]="form" (submit)="guardar()" class="example-form">

      <mat-form-field class="example-full-width" *ngIf="edicion" >
        <mat-label>Código Herramienta</mat-label>
        <input matInput placeholder="herramienta_id" formControlName="herramienta_id" />
        <mat-error *ngIf="form.get('herramienta_id')?.hasError('required')"
      >El codigo no se modifica.</mat-error
    >
  </mat-form-field>
    <br/>     
  <mat-form-field class="example-full-width">
    <mat-label>Código Oncólogo</mat-label>
    <mat-select formControlName="oncologo_id">
      <mat-option *ngFor="let c of listaOncologos" [value]="c.oncologo_id">
        {{c.oncologo_id}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('oncologo_id')?.hasError('required')"
    >El código es obligatorio.</mat-error
    >       
  </mat-form-field>

  <br/>     
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Herramienta</mat-label>
      <mat-select formControlName="nombreHerramienta">
      <mat-option *ngFor="let g of listaHerramientas" [value]="g.value">
        {{g.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('nombreHerramienta')?.hasError('required')"
    >El tipo de herramienta es obligatorio.</mat-error
  >
  </mat-form-field>
<br/>     
    <button mat-raised-button color="accent">Aceptar</button>
    <button mat-raised-button color="primary" routerLink="/herramientas">
      Cancelar
    </button>
    <p>{{ mensaje }}</p>
  </form>
</div>