<div class="container" style="text-align: center">
  <h2>Registro de Herramientas</h2>
  <form [formGroup]="form" (submit)="guardar()" class="example-form">
      <mat-form-field class="example-full-width" *ngIf="edicion" >
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="codigo" formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')"
      >El codigo no se modifica.</mat-error
    >
    <mat-form-field class="example-full-width">
      <mat-label>Codigo Oncólogo</mat-label>
      <input matInput placeholder="codigooncologo" formControlName="codigooncologo" />
      <mat-error *ngIf="form.get('codigooncologo')?.hasError('required')"
    >El codigo no se modifica.</mat-error
  >
  </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Herramienta</mat-label>
      <mat-select formControlName="herramienta">
      <mat-option *ngFor="let g of listaHerramientas" [value]="g.value">
        {{g.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('herramienta')?.hasError('required')"
    >El Género es obligatorio.</mat-error
  >
  </mat-form-field>
<br/>     
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/peliculas">
      Cancelar
    </button>
    <p>{{ mensaje }}</p>
  </form>
</div>