<div class="container" style="text-align: center">
  <h2>Reporte Cantidad de Respuestas por Grado de Consulta</h2>
      <form [formGroup]="form" (ngSubmit)="insertar()">
        <mat-form-field>
          <mat-label class="textoBox">Grado</mat-label>
          <mat-select formControlName="grado">
            <mat-option *ngFor="let r of grados" [value]="r.value">
              {{ r.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('grado')?.hasError('required')"
            >El grado es obligatorio.</mat-error
          >
        </mat-form-field>
        <br />
        <br />
        <button mat-raised-button class="custom-button">Aceptar</button>
        <br />
      </form>
      <br />
    </div>

    <div class="container">
      <div class="title-container"><h1 class="title"></h1></div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="idRespuesta">
              <th mat-header-cell *matHeaderCellDef> idRespuesta </th>
              <td mat-cell *matCellDef="let element"> {{element.idRespuesta}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="gradoConsulta">
              <th mat-header-cell *matHeaderCellDef> gradoConsulta </th>
              <td mat-cell *matCellDef="let element"> {{element.gradoConsulta}} </td>
            </ng-container>
              <ng-container matColumnDef="nivelRespuesta">
                  <th mat-header-cell *matHeaderCellDef> nivelRespuesta </th>
                  <td mat-cell *matCellDef="let element"> {{element.nivelRespuesta}} </td>
              </ng-container>
              <ng-container matColumnDef="paciente">
                  <th mat-header-cell *matHeaderCellDef> paciente </th>
                  <td mat-cell *matCellDef="let element"> {{element.paciente.user.nombre}}  {{element.paciente.user.apellido}} </td>
                </ng-container>
             
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
           <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>         

