<div class="container">
  <br />
  <h2 style="text-align: center">Lista de Exámenes de Deteccion</h2>
  <div style="text-align: right">
    <button mat-raised-button class="custom-button" style="background-color: #999B85" routerLink="/examenes/nuevo">
      Nuevo
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.examenDeteccionId }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let element">
        {{ element.hora }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipoExamen">
      <th mat-header-cell *matHeaderCellDef>Tipo de Examen</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tipoExamen }}
      </td>
    </ng-container>

    <ng-container matColumnDef="resultados">
      <th mat-header-cell *matHeaderCellDef>Resultados del examen</th>
      <td mat-cell *matCellDef="let element">
        {{ element.resultados }}
      </td>
    </ng-container>
    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="custom-button" style="background-color: #999B85" [routerLink]="['ediciones', element.idMovie]"><mat-icon> border_color</mat-icon></button>
      </td>
      </ng-container
    >
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
