.title-container {
  text-align: center;
  margin: 20px 0;
  
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}


.custom-button {
  background-color: #999B85; 
  color: white;
}
  