<div class="container">
    <div class="title-container">
      <h1 class="title">Registro de Respuesta</h1>
    </div>
    <div class="form-container">
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        
        <mat-form-field *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="idRespuesta" formControlName="idRespuesta" readonly />
          <mat-error *ngIf="form.get('idRespuesta')?.hasError('required')"
            >Los puntos son obligatorios.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>gradoConsulta</mat-label>
          <input matInput formControlName="gradoConsulta">
        </mat-form-field>
        <mat-form-field>
            <mat-label>nivelRespuesta</mat-label>
            <input matInput formControlName="nivelRespuesta">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Nro. Paciente</mat-label>
            <input matInput formControlName="idPaciente" />
            <mat-error *ngIf="form.get('idPaciente')?.hasError('required')">
            </mat-error>
          </mat-form-field>
          <br />
        <button mat-raised-button class="custom-button">Aceptar</button>
        
       
      </form>
    </div>
  