<div class="container">
  <br />
  <h2 style="text-align: center">Detalle Historial</h2>
  <div style="text-align: right">
    <button mat-raised-button color="primary" routerLink="/DetalleHistorial/nuevo">
      Nuevo
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="idDetalleHistorial">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.idDetalleHistorial }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fechaDetalleHistorial">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaDetalleHistorial }}</td>
    </ng-container>

    <ng-container matColumnDef="seguro">
      <th mat-header-cell *matHeaderCellDef>No. Seguro</th>
      <td mat-cell *matCellDef="let element">
        {{ element.seguro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cirugias">
      <th mat-header-cell *matHeaderCellDef>No. Cirugía</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cirugias }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tratamiento">
      <th mat-header-cell *matHeaderCellDef>No. Tratamiento</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tratamiento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="examenDeteccion">
      <th mat-header-cell *matHeaderCellDef>No. Examen</th>
      <td mat-cell *matCellDef="let element">
        {{ element.examenDeteccion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paciente">
      <th mat-header-cell *matHeaderCellDef>No. Paciente</th>
      <td mat-cell *matCellDef="let element">
        {{ element.paciente }}
      </td>
    </ng-container>
 
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </div>