<div class="container" style="text-align: center">
  <h2>Registro Detalle Historial</h2>
  <form [formGroup]="Form" (submit)="guardar()" class="example-form">
     
    <mat-form-field appearance="fill" class="example-full-width">
      <input
        matInput
        placeholder="Ingrese fecha"
        [matDatepicker]="picker"
        formControlName="fechaDetalleHistorial"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      
      <mat-error *ngIf="Form.get('fechaDetalleHistorial')?.hasError('required')"
      >La fecha es obligatoria.</mat-error
      >
    </mat-form-field>  
      <br/>
    <mat-form-field class="example-full-width">
      <mat-label>No. Seguro</mat-label>
      <mat-select formControlName="seguro">
        <mat-option *ngFor="let c of listaseguros" [value]="c.idseguro">
          {{c.idseguro}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="Form.get('seguro')?.hasError('required')"
      >El seguro es obligatorio.</mat-error
      >     
    </mat-form-field>
    <br/>  

 <mat-form-field class="example-full-width">
      <mat-label>No. Cirugias</mat-label>
      <mat-select formControlName="cirugias">
        <mat-option *ngFor="let c of listacirugias" [value]="c.idcirugias">
          {{c.idcirugias}}
        </mat-option>
      </mat-select>
    <mat-error *ngIf="Form.get('cirugias')?.hasError('required')"
      >La cirugía es obligatoria.</mat-error
      >       
    </mat-form-field>

    <br/>
    <mat-form-field class="example-full-width">
      <mat-label>No. Tratamiento</mat-label>
      <mat-select formControlName="tratamiento">
        <mat-option *ngFor="let c of listatratamiento" [value]="c.idTratamiento">
          {{c.idTratamiento}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="Form.get('tratamiento')?.hasError('required')"
      >El tratamiento es obligatorio.</mat-error
      >       
    </mat-form-field>

    <br/>
    <mat-form-field class="example-full-width">
      <mat-label>No. Examen</mat-label>
      <mat-select formControlName="examenDeteccion">
        <mat-option *ngFor="let c of listaexamendeteccion" [value]="c.examenDeteccionId">
          {{c.examenDeteccionId}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="Form.get('examenDeteccion')?.hasError('required')"
      >El examen es obligatorio.</mat-error
      >  
    </mat-form-field>

    <br/>
    <mat-form-field class="example-full-width">
      <mat-label>No. Paciente</mat-label>
      <mat-select formControlName="paciente">
        <mat-option *ngFor="let c of listapaciente" [value]="c.idPaciente">
          {{c.idPaciente}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="Form.get('paciente.')?.hasError('required')"
      >El paciente es obligatorio.</mat-error
      >  
    </mat-form-field>


    <br />
    <button mat-raised-button class="custom-button">Guardar</button>
    <button mat-raised-button class="custom-button" routerLink="/DetalleHistorial">
      Cancelar
    </button>
   </form>
  </div>