<div class="container">
    <div class="title-container"><h1 class="title">Lista de Pacientes</h1></div>
    <div style="text-align: right;"><button mat-raised-button color="primary" style="background-color: #999B85;" routerLink="/pacientes/nuevo">Nuevo</button>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="idPaciente">
            <th mat-header-cell *matHeaderCellDef> idPaciente </th>
            <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>user</th>
            <td mat-cell *matCellDef="let element">{{ element.user.id}}
            </td>
        </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="contactoEmergencia">
            <th mat-header-cell *matHeaderCellDef> contactoEmergencia </th>
            <td mat-cell *matCellDef="let element"> {{element.contactoEmergencia}} </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>
           <!-- Weight Column -->
           <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element">  
              <button mat-raised-button class="custom-button" style="background-color: #999B85" [routerLink]="['ediciones',element.idPaciente]"><mat-icon> border_color</mat-icon></button></td></ng-container>
            
  
          <!-- Weight Column -->
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">  
              <button mat-raised-button class="custom-button" style="background-color: #999B85" (click)="deletes(element.idPaciente)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngFor="let element of dataSource.data">

          {{ element | json }}
         
         </div>
        
  </div>