.report-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #333;
  }
  
  .chart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      width: 100%;
      padding: 10px;
    }
  }
  