<div class="title-container">
  <div class="title-container" >
  <h1>Registro de Pacientes</h1>
</div>

    
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="idPaciente" formControlName="idPaciente" readonly />
      <mat-error *ngIf="form.get('idPaciente')?.hasError('required')"
        >Los puntos son obligatorios.</mat-error
      >
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Contacto de emergencia</mat-label>
        <input matInput formControlName="contactoEmergencia" />
      </mat-form-field>
    
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput formControlName="id" />
        <mat-error *ngIf="form.get('id')?.hasError('required')">
        </mat-error>
      </mat-form-field>
    <br />
    <button mat-raised-button class="custom-button">Aceptar</button>
    
    
  </form>
</div>