<div class="title-container"><h1>Registro de Pacientes</h1></div>
<div class="title-container" >
    
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput formControlName="idPaciente" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contacto de emergencia</mat-label>
        <input matInput formControlName="contactoEmergencia" />
      </mat-form-field>
    
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Usuarios</mat-label>
        <mat-select
        [(value)]="idUserSeleccionado"
        formControlName="user_id">
          <mat-option *ngFor="let u of listaUsers" [value]="u.id">
            {{u.username}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('user_id')?.errors?.['required']">
          Elegir el usuario es obligatorio.
        </mat-error>
      </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/paciente">Cancelar</button>
    
  </form>
</div>