<div class=" = diva">
<div class="container-wrapper">
  <div class="container" style="text-align: center">
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2><img src="assets/images/logito.png" alt="" width="60" height="60" class="d-inline-block align-text-top"></h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
  </div>
</div>
</div>
