table {
    width: 100%;
  }
  
  .container {
    margin-top: 80px;
  }
  
  .funcionality{
    background-color: #78CAD2;
  }
  
  .delete{
    background-color: gray;
  }
  
  button:hover {
    background-color: green;
  }
  