<div class="title-container"><h1>Registro de Cirugias</h1></div>
<div class="title-container" >
    
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="idcirugias" formControlName="idcirugias" readonly />
      <mat-error *ngIf="form.get('idcirugias')?.hasError('required')"
        >Los puntos son obligatorios.</mat-error
      >
    </mat-form-field>
        
      <mat-form-field>
        <mat-label>Descripción de la Cirugias</mat-label>
        <input matInput formControlName="descripcioncirugias">
      </mat-form-field>
      <br />
      <div class="title-container"><button mat-raised-button class="custom-button">Aceptar</button></div>
     
      
    </form>
  </div>
