<div class="container">
    <div class="title-container"><h1 class="title">Lista de Alergias</h1></div>
    <div style="text-align: right;"><button mat-raised-button color="primary" style="background-color: #999B85;" routerLink="/alergias/nuevo">Nuevo</button>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> idalergias </th>
            <td mat-cell *matCellDef="let element"> {{element.idalergias}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcionalergias </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionAlergias}} </td>
          
            </ng-container>
            <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef>Actualizar</th>
              <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="custom-button" style="background-color: #999B85" [routerLink]="['ediciones', element.idalergias]" ><mat-icon> border_color</mat-icon></button></td></ng-container>
          >
         
      >
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="custom-button" style="background-color: #999B85"  (click)="eliminar(element.idalergias)"><mat-icon>delete</mat-icon></button>
          
         
        </td></ng-container
      >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>
    
  </div>
        
        
 