<div class="container">
    <div class="title-container">
      <h1 class="title">Registro de Alergias</h1>
    </div>
    <div class="form-container">
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="idalergias" formControlName="idalergias" readonly />
          <mat-error *ngIf="form.get('idalergias')?.hasError('required')"
            >Los puntos son obligatorios.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descripción de la alergia</mat-label>
          <input matInput formControlName="descripcionAlergias">
        </mat-form-field>
        <br />
        <button mat-raised-button class="custom-button">Aceptar</button>
      </form>
    </div>
  
  