:host {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    margin-top: 80px;
  }
  
  mat-form-field {
    width: 70%;
  }
  
  .accept{
    background-color: #78CAD2;
  }
  
  .cancel{
    background-color: gray;
  }
  
  button:hover {
    background-color: green;
  }
  